# Ignorar el dataset grande
data/facturacion_encoded.csv
data/facturacion.csv
scripts/rf_model.pkl
# Archivos de compilación en Go
*.exe
*.out
*.test

# Cachés y temporales
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.vscode/

# Archivos de entorno
.env
.env.*

# Python
__pycache__/
*.pyc

# Docker
*.pid
docker-compose.override.yml

# Node.js
node_modules/
.next/
dist/

# Otros
.idea/
*.iml
