# Ignorar el dataset grande
data/facturacion.csv
scripts/rf_model.pkl

# Archivos de compilación en Go
*.exe
*.out
*.test

# Cachés y temporales
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.vscode/

# Archivos de entorno
.env
.env.*

# Python (si usas scikit-learn en rf_reference.py)
__pycache__/
*.pyc

# Docker
*.pid
docker-compose.override.yml

# Node.js (si llegas a usar Next.js en TF final)
node_modules/
.next/
dist/

# Otros
.idea/
*.iml
